.welcome {
  /* Welcome [user email], Log out */

  text-align: center;
  vertical-align: middle;
  line-height: 100vh;

  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  color: #000000;
}

.logout {
  color: blue;
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  align-content: center;
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
  height: 100vh;
}
