.container {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 1fr;
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
  height: 100vh;
}

.areaA {
  background-color: #ffffff;
  text-align: start;
  padding: 20px 0;
  font-size: 30px;
}

.areaB {
  background-color: #ffffff;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
